body,ul,ol,li,form,input,dl,dt,dd,h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin:0;
	list-style:none;
}
img{
	border:none;
}
*{
	box-sizing:border-box;
	color: #FFFFFF;
	font-family: "微软雅黑";
}
html{
	font-size:62.5%;
}
body{
	background-color:#fff;
}
em,b,strong{
	font-style: normal;
	font-weight: normal;
}
